/* #canvas-container {
    height: 100vh;
    width: 50%;
    align-self: flex-start;
  }
  
  #canvas-container canvas {
    width: 100%;
    height: 100%;
  } */

  *{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

.container {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 0%;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0;
  background-color: black;
  /* background: linear-gradient(to left, #000000, rgb(37, 37, 35)); */
  width: 40%;
}

.right {
  width: 60%;
  right: 0;
}

.right canvas {
  width: 100%;
  height: 100vh;
}

@keyframes slideInFromLeft {
  0% {
    /* transform: translateX(-100%); */
    transform: scale(0);
  }

  100% {
    /* transform: translateX(0); */
    transform: scale(1);
  }
}

.wrapper {
  animation: 0.6s ease-out 0s 1 slideInFromLeft;
  position: relative;
  width: 400px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  /* box-shadow: 0 0 25px palegreen; */
  box-shadow: 0 0 25px rgb(112, 150, 185);
  /* #B88A59 */
  padding: 20px;
  /* background: linear-gradient(to bottom, #000000, rgb(26, 26, 25)); */
}

.form-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

h2 {
  font-size: 30px;
  color: white;
  text-align: center;
}

.input-group {
  position: relative;
  margin: 30px 0;
  border-bottom: 2px solid white;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  pointer-events: none;
}

.input-group input {
  width: 320px;
  height: 40px;
  font-size: 16px;
  color: white;
  padding: 0 5px;
  background: transparent;
  border: none;
  outline: none;
}

.input-group input::placeholder {
  color: white;
}

.form-submit {
  position: relative;
  width: 100%;
  height: 40px;
  /* background-color: palegreen; */
  background-color: rgb(112, 150, 185);
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  border: black;
  outline: none;


}

.button-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 240px;
  height: 40px;
  margin: 0 auto;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 30px;

}

.form-button {
  padding: 10px 40px;
  width: 50%;
  height: 100%;
  border: 0;
  position: relative;
  text-align: center;
  background: transparent;
  outline: white;
  border: white;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

#btn{
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  /* background: palegreen; */
  background: rgb(112, 150, 185);
  border-radius: 30px;
  transition: left 0.5s ease;
}

#loginFormButton:active, #registerFormButton:active {
  color: black;
}

#flashMessage{
  color: red;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#map {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#svgContainer {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

#svgContainer svg { 
  transform: scale(1);
  transform-origin: center center;
  width: 100%;
  height: auto;
  /* max-width: none; */
}

#map, #svgContainer {
  overflow: auto;
}

#svgContainer svg path { 
  fill: orange;
  transition: fill 0.3s ease;
}
#svgContainer svg path:hover{
  fill: grey;
} 

body,
html {
  margin: 0;
  height: 100%;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}