<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Landing Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>
    <div>
        <div class="container left">
            <div class="wrapper">
                <div class="button-container">
                    <div id="btn"></div>
                    <button id="loginFormButton" class="form-button" onclick="leftClick()">Login</button>
                    <button id="registerFormButton" class="form-button" onclick="rightClick()">Register</button>
                </div>
                    <div id="registerForm" class="form-container register" style="display: none;">
                        <!-- <h2>Register</h2> -->
                        <form th:action="@{/register}" method="post" class="form">
                            <div class="input-group">
                                <!-- <label for="username">Username:</label><br> -->
                                <input type="text" id="username" name="username" placeholder="Username" required><br>
                            </div>
                            <div class="input-group">
                                <!-- <label for="password">Password:</label><br> -->
                                <input type="password" id="password" name="password" placeholder="Password"
                                    required><br>
                            </div>
                            <div class="input-group">
                                <!-- <label for="email">Email:</label><br> -->
                                <input type="email" id="email" name="email" placeholder="Email" required><br>
                            </div>
                            <input type="submit" value="Register" class="form-submit">
                            <p  id="flashMessage" th:text="${message}" class="form-message"></p>
                        </form>
                    </div>

                    <div id="loginForm" class="form-container login" style="display: block;">
                        <!-- <h2>Login</h2> -->
                        <form th:action="@{/login}" method="post" class="form">
                            <div class="input-group">
                                <!-- <label for="email">Email:</label><br> -->
                                <input type="text" id="email" name="email" placeholder="Email" required><br>
                            </div>
                            <div class="input-group">
                                <!-- <label for="password">Password:</label><br> -->
                                <input type="password" id="password" name="password" placeholder="Password"
                                    required><br>
                            </div>
                            <input type="submit" value="Login" class="form-submit">
                            <p id="flashMessage" th:text="${message}" class="form-message"></p>
                        </form>
                    </div>
                </div>
            </div>

            <div class="container right">
                <canvas></canvas>
            </div>

        </div>

        <script src="/js/slider.js"></script>
        <script type="module" src="/js/earth.js"></script>
        <script>
            document.getElementById("registerFormButton").addEventListener("click", function () {
                document.getElementById("registerForm").style.display = "block";
                document.getElementById("loginForm").style.display = "none";
            });

            document.getElementById("loginFormButton").addEventListener("click", function () {
                document.getElementById("loginForm").style.display = "block";
                document.getElementById("registerForm").style.display = "none";
            });
        </script>
</body>

</html>