 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>travelExpo</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div id="map" style="height: 100vh;">
        <!-- <div id="userInfo"> -->
            <!-- <p th:text="${email}"></p> -->
        <!-- </div> -->
        <div id="svgContainer"></div>
    </div>
    <script>
        function loadSVG(url, containerID){
            fetch(url).then(response => response.text()).then(svg => {
                 document.getElementById(containerID).innerHTML = svg;
                //  const svgElement = document.querySelector('#' + containerID + ' svg');
                //  addZoom(svgElement);
            }).catch(error => console.error("error loading svg file: ", error));
        }
        
        loadSVG("svg/world.svg", "svgContainer");
    </script>

    </script>
</body>
</html>