
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>travelExpo</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="overlay">
        <h1><span th:text= "${username}">User</span></h1>
        <p><span th:text="${email}"></span></p>
        <form action="/logout" method="post">
        <button type="submit">Logout</button>
        </form>
        </div>
        <div id="map" style="height: 100vh;">
            <div id="svgContainer"></div>
            <div id="infoContainer" class="info-box" style="display: none;">
                <h2 id="countryName"></h2>
                <img id="countryFlag" width="60" />
                <ul>
                    <li><strong>Capital:</strong> <span id="countryCapital"></span></li>
                    <li><strong>Population:</strong> <span id="countryPopulation"></span></li>
                    <li><strong>Currency:</strong> <span id="countryCurrency"></span></li>
                    <li><strong>Region:</strong> <span id="countryRegion"></span></li>
                    <li><strong>Timezone:</strong> <span id="countryTimezone"></span></li>
                </ul>
                <button id="markVisit"></button>
                <!-- <span id="closeInfo" style="cursor: pointer;">x</span> -->
            </div>
        </div>
        <script src="/js/loadSVG.js"></script>
        <script src="/js/zoom.js"></script>
        <script src="/js/drag.js"></script>
        <script src="/js/api.js"></script>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const svgContainer = document.getElementById('svgContainer');
                const svgElement = svgContainer.querySelector('svg');

                if (svgElement) {
                    addDrag(svgElement);
                } else {
                    console.error('SVG element not found inside #svgContainer');
                }
            });
        </script>

    </body>
</html>