
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>travelExpo</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div id="map" style="height: 100vh;">
            <!-- <div id="userInfo"> -->
            <!-- <p th:text="${email}"></p> -->
            <!-- </div> -->
            <div id="svgContainer"></div>
        </div>
        <script src="/js/loadSVG.js"></script>
        <script src="/js/zoom.js"></script>
        <script src="/js/drag.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var svg = document.createElementNS("http://www.w3.org/2000/svg", "svg");
                svg.setAttribute("width", "100%");
                svg.setAttribute("height", "100%");
                svg.setAttribute("viewBox", "-169.110266 83.600842 190.486279 58.508473");
                svg.setAttribute("id", "mapSVG");
                document.getElementById("svgContainer").appendChild(svg);
        
                // Assuming drag.js exposes an initializeDrag() function
                // This is just an example; adjust based on your actual drag script
                if (typeof initializeDrag === "function") {
                    initializeDrag();
                }
            });
        </script>

    </body>
</html>